{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<header class="p-3 bg-dark text-white" id="navbar">
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li>
                  <a href="{% url 'home' %}" class="active nav-link px-2 text-secondary">Home</a>
              </li>
              <li>
                  <a href="{% url 'menu' %}" class="nav-link px-2 text-white">Menu</a>
              </li>
              <li>
                  <a href="{% url 'gallery' %}" class="nav-link px-2 text-white">Gallery</a>
              </li>
              <li>
                  <a href="{% url 'about' %}" class="nav-link px-2 text-white">About Us</a>
              </li>
              {% if user.is_authenticated %}
                  <li>
                      <a href="#" class="nav-link px-2 text-white">Book a Table</a>
                  </li>
              {% endif %}
          </ul>
          {% if user.is_authenticated %}
              <div class="text-end">
                  <a href="{% url 'account_logout' %}" class="btn btn-warning">Logout</a>
              </div>
          {% else %}
              <div class="text-end">
                  <a href="{% url 'account_login' %}" class="btn btn-outline-light me-2">Login</a>
                  <a href="{% url 'account_signup' %}" class="btn btn-warning">Sign-up</a>
              </div>
          {% endif %}
</header>
<section class="bg-dark pb-5 pt-5 text-center text-lg-start text-white-50" id="sign-up-main">
  <div class="container px-5 my-5" id="sign-up-container"> 
<h1>{% trans "Sign In" %}</h1>


<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>
</div>             
</section>     
{% endblock %}
