{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="bg-dark pb-5 pt-5 text-center text-lg-start text-white" id="login-main">
  <div class="container px-5 my-5" id="sign-up-container"> 
<h1>{% trans "Sign In" %}</h1>


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-warning" type="submit">{% trans "Sign In" %}</button>
</form>
</div>             
</section>     
{% endblock %}
