/* Home page - index.html */
#index-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px repeat(auto-fill, minmax(100px, 1fr)) 100px auto;
    grid-template-areas: 'navbar navbar navbar' 'index-main index-main index-main' '. . .' 'footer footer footer';
}

#index-main {
    background-image: url('image/hero-bg.jpg');
    grid-area: index-main;
}

/* Menu page - menu.html */
#menu-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px repeat(auto-fill, minmax(100px, 1fr)) auto;
    grid-template-areas: 'navbar navbar navbar' 'menu-body menu-body menu-body' 'footer footer footer';
}

#menu-main {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 1.5fr) minmax(100px, 1.5fr) minmax(100px, 1.5fr) 1fr;
    grid-template-rows: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) 100px;
    grid-template-areas: '. card-1 card-2 card-3 .' '. card-4 card-5 card-6 .' '. card-7 card-8 card-9 .' '. . . . .';
    grid-gap: 20px;
    grid-area: menu-body;
}

#card-1 {
    grid-area: card-1;
}

#card-2 {
    grid-area: card-2;
}

#card-3 {
    grid-area: card-3;
}

#card-4 {
    grid-area: card-4;
}

#card-5 {
    grid-area: card-5;
}

#card-6 {
    grid-area: card-6;
}

#card-7 {
    grid-area: card-7;
}

#card-8 {
    grid-area: card-8;
}

#card-9 {
    grid-area: card-9;
}

/* Gallery page - gallery.html */
#gallery-body {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: auto minmax(100px, auto) auto;
    grid-template-areas: 'navbar navbar navbar navbar navbar' 'gallery-main gallery-main gallery-main gallery-main gallery-main' 'footer footer footer footer footer';
}

#gallery-main {
    grid-area: gallery-main;
}

/* About page - about.html */
#about-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto repeat(auto-fill, minmax(100px, 1fr)) auto;
    grid-template-areas: 'navbar navbar navbar' 'about about about' 'footer footer footer';
}

#about-main {
    grid-area: about;
}

label {
    color: aliceblue;
}

/* Booking page - booking.html*/
#booking-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'navbar navbar navbar' 'booking-main booking-main booking-main' 'footer footer footer';
}

#booking-main {
    grid-area: 2 / 1 / 3 / 4;
}

#booking-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: '. bookingForm .';
}

#bookingForm {
    grid-area: bookingForm;
}



#login-main { 
    min-height: 100vh;
}

/* Signup page - allauth */
#signup-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'navbar navbar navbar' 'signup-main signup-main signup-main' 'footer footer footer';
}

#signup-main {
    grid-area: 2 / 1 / 3 / 4;
}

#signup-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: '. signupForm .';
}

#signupForm {
    grid-area: signupForm;
}


/* Sign out page - allauth*/
#signout-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'navbar navbar navbar' 'signout-main signout-main signout-main' 'footer footer footer';
}

#signout-main {
    grid-area: signout-main;
    width: 100%;
}


/* Header and Footer -shared */
#navbar {
    grid-area: navbar;
}

#footer {
    grid-area: footer;
}

#message-container {
    position: relative;
}


/* Messages */
#message-container > div > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


