{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="bg-dark" id="about-body">
        <section class="bg-dark pb-5 pt-5 text-center text-lg-start text-white-50" id="about-main"> 
            <div class="container pb-4 pt-4"> 
                <div class="align-items-center row"> 
                    <div class="col-lg-6 ms-auto order-lg-2 py-3 text-center">
                        <div class="align-items-center justify-content-center row">
                            <img src="https://images.unsplash.com/photo-1525164286253-04e68b9d94c6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDkyMnwwfDF8c2VhcmNofDI2fHxyZXN0YXVyYW50JTIwYmJxfGVufDB8fHx8MTY2MTMxNTE1MA&ixlib=rb-1.2.1&q=80&w=400" class="col-5 img-fluid" width="170" alt="about burgers">
                            <img src="https://images.unsplash.com/photo-1611520189922-f7b1ba7d801e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDkyMnwwfDF8c2VhcmNofDE4fHxiYnF8ZW58MHx8fHwxNjYxNDIzMTg4&ixlib=rb-1.2.1&q=80&w=400" class="col-6 img-fluid" width="200" alt="about skewers">
                        </div>
                    </div>
                    <div class="col-lg-5 order-lg-1 py-3">
                        <h2 class="display-4 fw-bold text-warning">BBQ Country</h2>
                        <h3 class="fw-light mb-4 text-white">Bringing you the best barbecue in town</h3>
                        <p class="mb-4">BBQ Country is a restaurant that brings you the best barbecue in town. We take a simple and straightforward approach to our menu, offering popular and satisfying dishes that reflect a wide range of regional cuisines. Our specialty is hearty, delicious barbecue, but we also serve Southern, Cajun/Creole, and Italian dishes that are sure to please. With generous portions and a focus on high-quality ingredients, we strive to provide our customers with a truly exceptional dining experience.</p>
                    </div>                     
                </div>                 
            </div>             
        </section>
    </div>
{% endblock %}
