{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <body class="bg-dark" id="booking-body">
        <header class="p-3 bg-dark text-white" id="navbar">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <a href="{% url 'home' %}" class="active nav-link px-2 text-white">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'menu' %}" class="nav-link px-2 text-white">Menu</a>
                        </li>
                        <li>
                            <a href="{% url 'gallery' %}" class="nav-link px-2 text-white">Gallery</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}" class="nav-link px-2 text-white">About Us</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'booking' %}" class="nav-link px-2 text-secondary">Book a Table</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                        <div class="text-end">
                            <a href="{% url 'account_logout' %}" class="btn btn-warning">Logout</a>
                        </div>
                    {% else %}
                        <div class="text-end">
                            <a href="{% url 'account_login' %}" class="btn btn-outline-light me-2">Login</a>
                            <a href="{% url 'account_signup' %}" class="btn btn-warning">Sign-up</a>
                        </div>
                    {% endif %}
        </header>
        <section class="bg-dark pb-5 pt-5 text-center text-lg-start text-white-50" id="booking-main">
            <div class="container px-5 my-5" id="booking-container"> 
                <form id="bookingForm" method="POST" class="text-muted"> 
                    {% csrf_token %}
                    <div class="form-floating mb-3"> 
                        {{ form.first_name|as_crispy_field }}            
                    </div>                     
                    <div class="form-floating mb-3"> 
                        {{ form.last_name|as_crispy_field }}                  
                    </div>                     
                    <div class="form-floating mb-3"> 
                        {{ form.email|as_crispy_field }}
                    </div>                     
                    <div class="form-floating mb-3"> 
                        {{ form.phone|as_crispy_field }}                  
                    </div>                     
                    <div class="mb-3" data-provide="datepicker" data-date-format="mm/dd/yyyy">
                        {{ form.reservation_date|as_crispy_field }}                     
                    </div>                     
                    <div class="form-floating mb-3"> 
                        {{ form.reservation_time|as_crispy_field }}                      
                    </div>                     
                    <div class="form-floating mb-3"> 
                        {{ form.number_of_people|as_crispy_field }}                        
                    </div>                                        
                    <div class="d-grid"> 
                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>                         
                    </div>                     
                </form>                 
            </div>             
        </section>         
{% endblock %}